<div class="d-flex flex-column min-vh-100">
  <div class="flex-grow-1" style="background-color: rgb(99, 99, 99)">
    @if (user$ | async; as user) {
    <app-navbar></app-navbar>
    <div class="bg-light text-end py-3 mt-auto border-top">
      <h1 class="mb-0">
        {{ user.email }}
        <button class="btn btn-secondary" (click)="logout()">Logout</button>
        <button class="btn btn-danger" (click)="showDeleteModal = true">
          Delete User
        </button>
        @if (showDeleteModal) {
        <app-delete-modal
          (closeClick)="showDeleteModal = false"
          (deleteClick)="deleteUser()"
        > Are you sure you want to remove your account? This action cannot
                be undone.
      </app-delete-modal>
        }
      </h1>
    </div>
    <router-outlet />
    } @else {
    <app-user-form></app-user-form>
    }
  </div>
  <app-footer></app-footer>
</div>
