<div class="container mt-5" style="max-width: 500px">
  <h2 class="mb-4 text-center">{{ mode | titlecase }} Event</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <app-calendar
      class="form-control mb-3"
      (dateSelected)="onDateSelected($event)"
    ></app-calendar>
@if(model.date.length === 0) {
  Please select at least one day.
}
    @for (input of formInputs(); track i; let i = $index;) {
      <div class="mb-3">
        <label for="{{ input }}" class="form-label">{{ input | titlecase }}</label>
        <input
          [id]="input"
          class="form-control"
          [name]="input"
          [(ngModel)]="model[input]"
          #ngModelRef="ngModel"
          [required]="isRequired(input)"
          [attr.minlength]="3"
          [attr.maxlength]="input === 'description' ? 500 : 50"
          [placeholder]="input === 'image' ? 'Enter image URL' : 'Enter your ' + input"
        />
        @if (ngModelRef.invalid && ngModelRef.touched) {
          <div class="text-danger">{{ input | titlecase }} is required.</div>
        }
      </div>
    }

    <label class="form-label">Friends</label>
    <button
      type="button"
      class="btn btn-outline-primary w-100 mb-2"
      (click)="showUserModal = true"
      
    >
      Select Friends
    </button>

    @if (showUserModal) {
<toggle-list
  [users]="users()"
  (openModal)="showUserModal = false"
  [selectedUserIds]="model.participants"
  (selectedUserIdsChange)="model.participants = $event"
/>
    }
@if(model.participants.length === 0) {
  Please select at least one friend.
}
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="form.invalid || participantsInvalid || dateInvalid"
    >
      Confirm
    </button>
  </form>
</div>
