<div class="container mt-4">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary mb-3" (click)="showCalendar = !showCalendar">
      {{ showCalendar ? "Hide Calendar" : "Show Calendar" }}
    </button>
  </div>
  @if (showCalendar) {
  <app-events-overview></app-events-overview>

  }
  <h2 class="mb-4 text-center">Events List</h2>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" [routerLink]="['/eventForm/create']">
      <i class="bi bi-plus-lg me-1"></i> Create Event
    </button>
  </div>
  @if(events$ | async; as events) { @if (events.length === 0) {
  <div class="alert alert-info text-center">No events available.</div>
  }

  <div class="row g-4">
    @for (event of events; track event.id; let i = $index;) {
    <div class="col-12"> 
      <div class="card shadow-sm border-primary">
        <div class="card-body">
          <h5 class="card-title text-primary text-center">{{ event.title }}</h5>
          <p class="card-text text-muted text-break text-center">
            {{ event.description }}
          </p>

          <ul class="list-group list-group-flush mb-3">
            @for (date of (event.date).slice(0, 3); track date; let i = $index;)
            {
            <li class="list-group-item">{{ date | date : "longDate" }}</li>
            }@if((event.date).length > 3) {...}
          </ul>

          <div class="text-end">
            <a
              class="btn btn-sm btn-outline-primary"
              [routerLink]="['/eventDetail', event.id]"
            >
              View Details
            </a>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
