<div class="container mt-4">
  @if (event$ | async; as event) {
  <div class="card h-100 p-3">
    <div class="d-flex flex-column align-items-center">
      <img
        [src]="event.image"
        class="img-fluid rounded-circle mb-3"
        style="width: 100px; height: 100px; object-fit: cover"
        alt="No image available"
      />
    </div>
    <div class="card-body text-center">
      <h5 class="card-title text-primary">{{ event.title }}</h5>
      <p class="card-text text-muted">{{ event.description }}</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Date:</strong>
        <ul class="mb-0 ps-3">
          @for (date of event.date; track date; let i = $index;) {
          <li
            voteProgress
            [votes]="yesClicks[i]"
            [total]="event.participants.length"
            class="list-group-item"
          >
            {{ date | date : "longDate" }}
            <button class="btn btn-danger" 
            [disabled]="!isYesClicked(i)"
            (click)="noClick(i)">no</button>
            <button
              class="btn btn-success"
              [disabled]="isYesClicked(i)"
              (click)="yesClick(i)"
            >
              Yes ({{ yesClicks[i] }})
            </button>
          </li>
          }
        </ul>
        <button
          class="btn btn-primary mb-3"
          (click)="showCalendar = !showCalendar"
        >
          {{ showCalendar ? "Hide Calendar" : "Show Calendar" }}
        </button>

        @if (showCalendar) {
        <app-calendar></app-calendar>
        }
      </li>
      <li class="list-group-item">
        <strong>Location:</strong> {{ event.location }}
      </li>
      <li class="list-group-item">
        @if (users$ | async; as users) {
        <strong>Participants:</strong>
        {{ event.participants | userIdToCredentialPipe : users : "fullName" }}
        }
      </li>
    </ul>

    <div class="card-body text-center">
      <button class="btn btn-danger me-2" (click)="showDeleteModal = true">
        Remove Event
      </button>
      <button
        class="btn btn-secondary"
        [routerLink]="['/eventForm', event.id]"
        [queryParams]="{ mode: 'edit' }"
      >
        Edit Event
      </button>
    </div>
  </div>

  @if (showDeleteModal) {
  <app-delete-modal
    [item]="event"
    [id]="event.id"
    (closeClick)="showDeleteModal = false"
    (deleteClick)="deleteItem(event)"
    >Are you sure you want to remove this event? This action cannot be
    undone.</app-delete-modal
  >
  } }@else {
  <p>Loading event details...</p>
  }
</div>
