<div class="container mt-5" style="max-width: 500px">
  <h2 class="mb-4 text-center">{{ mode | titlecase }} Event</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <app-calendar
      class="form-control mb-3"
      [currentDates]="model.date"
      (dateSelected)="onDateSelected($event)"
    >
      <ng-content>
        @if(model.date.length === 0) {
        <h4>Please select at least one day.</h4>
        }</ng-content
      ></app-calendar
    >

    @for (input of formFields; track input) {
    <div class="mb-3">
      @if (ngModelRef.invalid && ngModelRef.touched) {
      <label class="form-label text-danger"
        >{{ input.label | titlecase }} is required.</label
      >
      }@else{
      <label for="{{ input }}" class="form-label">
        {{ input.label | titlecase }} </label
      >}
      <input
        [id]="input.key"
        class="form-control"
        [name]="input.label"
        [(ngModel)]="model[input.key]"
        #ngModelRef="ngModel"
        [required]="input.required"
        [attr.minlength]="3"
        [attr.maxlength]="input.key === 'description' ? 500 : 50"
        [placeholder]="
          input.key === 'image' ? 'Enter image URL' : 'Enter your ' + input.key
        "
      />
    </div>
    }

    <label class="form-label">Friends</label>
    <button
      type="button"
      class="btn btn-light w-100 mb-2"
      (click)="showUserModal = true"
    >
      Select Friends
    </button>

    @if (showUserModal) {
    <toggle-list
      [users]="users()"
      (openModal)="showUserModal = false"
      [selectedUserIds]="model.participants"
      (selectedUserIdsChange)="model.participants = $event"
    />
    } @if(model.participants.length <= 1) { Please select at least one friend. }
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="
        form.invalid || participantsInvalid || dateInvalid || !currentUser
      "
    >
      Confirm
    </button>
  </form>
</div>
