<div class="container mt-4">
  <h2 class="mb-4 text-center">Users List</h2>
  <div class="d-flex justify-content-end mb-3">
    <a routerLink="/form" class="btn btn-primary" onclick="click()">
      Add User
    </a>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for (user of users$ | async; track user) {
    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-row align-items-center p-2">
        <img
          [src]="user.image"
          class="img-fluid rounded-circle me-3"
          style="width: 80px; height: 80px; object-fit: cover"
          alt="No image available"
        />
        <div class="card-body p-0">
          <h5 class="card-title mb-1">
            <strong>Name:</strong>{{ user.name }} {{ user.surname }}
          </h5>
          <p class="card-text mb-1"><strong>Email:</strong> {{ user.email }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
