.demo-inline-calendar-card {
        width: 50%;
      }

      ::ng-deep .mat-calendar-body-label {
        color: transparent !important;
        font-size: 0 !important;
      }
      ::ng-deep .cdk-visually-hidden {
        display: none;
      }

::ng-deep .mat-calendar-body-cell.selected-date .mat-calendar-body-cell-content {
  background: #43a047 !important;
  color: #612222 !important;
  border-radius: 50%;
}