<div class="container mt-4">
  <h2 class="mb-4 text-center">Friends List</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <ng-template #misc let-item>
      <button class="btn btn-success" (click)="addFriend(item.id)">
        Add Friend
      </button>
      <button class="btn btn-danger" (click)="removeFriend(item.id)">
        Remove Friend
      </button>
    </ng-template>
    <app-dynamic-list
      [serviceType]="user"
      [fieldMapper]="mapToFields"
      [miscTemplate]="misc"
      
    >
    </app-dynamic-list>
  </div>
</div>
