/* You can add global styles to this file, and also import other style files */
.calendar-overlay {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1050;
  width: 100%;
  height: 100%;
}

.calendar-content {
  background: white;
  padding: 16px;
  border-radius: 12px;
  max-width: 400px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.calendar-overlay {
  max-height: 00px;
  max-width: 100%;
  z-index: 1;
}